html
    head
        link(rel="stylesheet", href="/style.css", data-inline)

    body
        p.big hola #{name}
        p confirma tu email
        a(href=`${activationUrl}`) confirmar
        p #{activationUrl}